<div class="modal" id="upload-image-modal" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Upload File
			</div>
			<%= form_tag(upload_image_path, multipart: true) do%>
				<% unless @success.nil?%>
					<div id="upload-result" class="text-center alert-<%=@success ? "success": "danger"%>"><%=@success ? "You have successfully saved the image": "Something went wrong"%></div>
				<% end%>
				<div class="modal-body">
					<p><label for="upload_file">Select File</label>
					<%= file_field_tag 'upload', accept: 'image/png,image/gif,image/jpeg'%></p>
				</div>
				<div class="modal-footer">
					<%= submit_tag "Upload", class: "btn btn-primary col-xs-12"%>	
					<div class="col-xs-8"></div>
					<%= button_tag "Close", type: "button", data: {dismiss: "modal"}, class: "btn btn-default"%>				
				</div>
			<% end %>
		</div>
	</div>
</div>