<%= form_for(@student) do |f|%>
	<p>
		  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

		<%= f.text_field :username, placeholder: "Username", id: "student_username", required: true%>
	</p>
    <p>
    	<span><i class="fa fa-lock" aria-hidden="true"></i></span>
    	<%= f.password_field :password, placeholder: "Password", required: true%>
    </p>
    <%= hidden_field_tag :target, :login %>

    <p><%= f.submit "Log in"%></p>
    <%= render 'layouts/error_messages', object: "student"%>
<%end%>